<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../layout.css">
    <script src="../Menu.js"></script>
    <title>GamePanel - Shop</title>
</head>
<div onclick="closeMenu()" id="mobile_nav">
    <h1 class="chross">X</h1>
    <a class="nav_item" href="../index.html">Home</a>
    <a class="nav_item_selected" href="#">Shop</a>
    <a class="nav_item" href="../Panel/index.html">Panel</a>
    <a class="nav_item" href="../Contact/index.html">Contact</a>
    <a class="nav_item" href="../Login/index.html">Login</a>
</div>
<nav>
    <div>
        <a onclick="menu()" class="bur_nav" href="#"><img class="bur_nav" src="../../img/burger_menu.png"
                alt="burger_menu"></a>
    </div>
    <div id="nav">
        <a class="nav_item" href="../index.html">Home</a>
        <a class="nav_item_selected" href="#">Shop</a>
        <a class="nav_item" href="../Panel/index.html">Panel</a>
        <a class="nav_item" href="../Contact/index.html">Contact</a>
        <a class="nav_item" href="../Login/index.html">Login</a>
    </div>
</nav>
<header id="header_shop">
    <h1 class="h1_header">Shop</h1>
</header>
<article id="article">
    <div class="first_section">
        <h2>Minecraft</h2>
            <img class="img_game_card" src="../../img/Minecraft_cover.png" alt="Minecraft_cover">
    </div>
    <div class="first_section">
        <h2>Ark: Survival Evolved</h2>
            <img class="img_game_card" src="../../img/cover_ark_survival_evolved.jpeg" alt="cover_ark_survival_evolved">
    </div>
    <div class="first_section">
        <h2>Rust</h2>
        <div class="rust">
            <img src="../../img/rust_cover.jpg" alt="rust_cover">
        </div>
    </div>
</article>
<footer id="footer">
    <h1>footer</h1>
</footer>
</body>

</html>