<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../layout.css">
    <script src="../Menu.js"></script>
    <title>Document</title>
</head>
<div onclick="closeMenu()" id="mobile_nav">
    <h1 class="chross">X</h1>
    <a class="nav_item" href="../index.html">Home</a>
    <a class="nav_item_selected" href="#">Shop</a>
    <a class="nav_item" href="../Panel/index.html">Panel</a>
    <a class="nav_item" href="../Contact/index.html">Contact</a>
    <a class="nav_item" href="../Login/index.html">Login</a>
</div>
<nav>
    <div>
        <a onclick="menu()" class="bur_nav" href="#"><img class="bur_nav" src="../../img/burger_menu.png"
                alt="burger_menu"></a>
    </div>
    <div id="nav">
        <a class="nav_item" href="../index.html">Home</a>
        <a class="nav_item_selected" href="#">Shop</a>
        <a class="nav_item" href="../Panel/index.html">Panel</a>
        <a class="nav_item" href="../Contact/index.html">Contact</a>
        <a class="nav_item" href="../Login/index.html">Login</a>
    </div>
</nav>
<header id="header">
    <h1>Shop</h1>
</header>
<article id="article">
    <div class="game_cards">
        <h2>Minecraft</h2>
        <div class="minecraft">
            <table class="minecraft_specs">
                <tbody>
                <tr>
                    <th></th>
                    <th>CPU</th>
                    <th>Ram</th>
                    <th>Disk</th>
                </tr>
                <tr>
                    <td>Dirt</td>
                    <td>1 CPU</td>
                    <td>1GB</td>
                    <td>10GB</td>
                </tr>
                <tr>
                    <td>Stone</td>
                </tr>
                <tr>
                    <td>Iron</td>
                </tr>
                <tr>
                    <td>Gold</td>
                </tr>
                <tr>
                    <td>Diamant</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="first_section">
        <h2>Ark: Survival Evolved</h2>
        <div class="ark">
        </div>
    </div>
    <div class="first_section">
        <h2>Rust</h2>
        <div class="rust">

        </div>
    </div>
</article>
<footer id="footer">
    <h1>footer</h1>
</footer>
</body>

</html>