table, tbody ,th, tr, td{
    border-collapse: collapse;
    border: 2px solid black;
}
form{
    width: 150px;
    display: flex;
    flex-direction: column;
}
#submit, #Achternaam, #Voornaam, #adres, #postcode, #Plaatsnaam{
    margin-top: 5px;
}