<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../layout.css">
    <script src="../Menu.js"></script>
    <title>Document</title>
</head>
<div onclick="closeMenu()" id="mobile_nav">
    <h1 class="chross">X</h1>
    <a class="nav_item" href="../index.html">Home</a>
    <a class="nav_item" href="../Shop/index.html">Shop</a>
    <a class="nav_item_selected" href="#">Panel</a>
    <a class="nav_item" href="../Contact/index.html">Contact</a>
    <a class="nav_item" href="../Login/index.html">Login</a>
</div>
<nav>
    <div>
        <a onclick="menu()" class="bur_nav" href="#"><img class="bur_nav" src="../../img/burger_menu.png"
                alt="burger_menu"></a>
    </div>
    <div id="nav">
        <a class="nav_item" href="../index.html">Home</a>
        <a class="nav_item" href="../Shop/index.html">Shop</a>
        <a class="nav_item_selected" href="#">Panel</a>
        <a class="nav_item" href="../Contact/index.html">Contact</a>
        <a class="nav_item" href="../Login/index.html">Login</a>
    </div>
</nav>
<header id="header">
    <h1 class="h1_header">panel</h1>
</header>
<article id="article">
    <div class="first_section">

    </div>
    <div class="first_section">
        <h2>Pufferpanel</h2>
        <p>Hi there, we use pufferpanel as or gameserver panel it is very robust with many options to let your server be the best</p>
    </div>
    <div class="first_section">
    </div>
</article> 
<footer id="footer">
    <h1>footer</h1>
</footer>
</body>

</html>