<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../layout.css">
    <script src="../Menu.js"></script>
    <title>Document</title>
</head>
<div onclick="closeMenu()" id="mobile_nav">
    <h1 class="chross">X</h1>
    <a class="nav_item" href="../index.html">Home</a>
    <a class="nav_item" href="../Shop/index.html">Shop</a>
    <a class="nav_item" href="../Panel/index.html">Panel</a>
    <a class="nav_item" href="../Contact/index.html">Contact</a>
    <a class="nav_item_selected" href="#">Login</a>
</div>
<nav>
    <div>
        <a onclick="menu()" class="bur_nav" href="#"><img class="bur_nav" src="../../img/burger_menu.png"
                alt="burger_menu"></a>
    </div>
    <div id="nav">
        <a class="nav_item" href="../index.html">Home</a>
        <a class="nav_item" href="../Shop/index.html">Shop</a>
        <a class="nav_item" href="../Panel/index.html">Panel</a>
        <a class="nav_item" href="../Contact/index.html">Contact</a>
        <a class="nav_item_selected" href="#">Login</a>
    </div>
</nav>
<header id="header">
    <h1 class="h1_header">Login</h1>
</header>
<article id="article">
    <div class="first_section">
    </div>
    <div class="first_section">
        <h2>Login</h2>
        <form action="#">
            <label for="uname">Username:</label>
            <input type="Username" name="uname" placeholder="Username">
            <label for="Passwd">Password:</label>
            <input type="password" name="passwd" placeholder="Password">
            <input type="submit" value="Login">
        </form>
    </div>
    <div class="first_section">
    </div>
</article> 
<footer id="footer">
    <h1>footer</h1>
</footer>
</body>

</html>